* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px;
    position: relative;
}

/*--------- gestione dei link -------*/
.nav-container {
    flex: 1;
    display: flex;
    justify-content: center;
    position: relative;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-list a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.nav-list a:hover {
    background-color: white;
    color: black;
}

.nav-list li {
    margin: 0 15px;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 150px;
    background-color: black;
}

.dropdown-content a {
    display: block;
    white-space: nowrap;
}

.dropdown:hover .dropdown-content {
    display: block;
}