body {
    display: flex;
    flex-direction: column;
}


div {
    border: 2px solid;
    padding: 10px 0px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
    background-color: #8e6464;
}

.container-vertical {
    display: flex;
    salign-content: baseline;
    padding: 0;
    flex-wrap: wrap;
    flex-direction: column;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
    background-color: #77b953;
    height: 200px;
}

.item {
    padding: 10px 15px;
    background-color: #3498db;
    color: white;
    border-radius: 5px;
    text-align: center;
    margin: 0 5px;
    width: 50px;
}

.btn {
    border: none;
    background-color: #3498db;
    font-weight: bold; padding: 5px; border-radius: 5px; 
    cursor:pointer;
    transition: ease-in-out
}

.btn:hover {
    opacity: 0.85;
    transform: scale(1.1);
}