.tornaSUBTN {
    text-decoration: none;
    text-align: center;
    position: fixed;
    bottom: 5px;
    right: 3px;
    background-color: aqua;
    width: 25px;
    height: 25;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.5;
}

.tornaSUBTN:hover {
    text-decoration: underline;
    opacity: 1;
}